#admin-main-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  #admin-sidebar {
    width: 200px;
    background-color: #3083ff;
    padding: 20px;
    display: flex;
    color: #fff;
    flex-direction: column;
  }
  
  #admin-sidebar-logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .admin-sidebar-item {
    margin: 10px 0;
    cursor: pointer;
  }
  
  #admin-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
.dashboard-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .dashboard-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 200px;
    text-align: center;
  }
  
  .active-projects {
    margin-top: 20px;
  }
  
  .active-projects table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .active-projects th, .active-projects td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .team-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }  

  #admin-dashboard-section, #admin-bookings-section, #admin-products-section {
    display: block;
  }

  #admin-dashboard-section h2, #admin-bookings-section h2, #admin-products-section h2 {
    margin-bottom: 20px;
  }
  
  #admin-bookings-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #admin-bookings-table th, #admin-bookings-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #admin-bookings-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .admin-product-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .admin-product-details {
    flex: 1;
  }
  
  .admin-edit-button, .admin-delete-button, .admin-save-button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #admin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  #admin-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
  }
  
  #admin-modal-content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .admin-product-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    gap: 20px; 
  }

  .admin-product-image-container, .admin-product-actions-container {
    flex: 0 0 auto; 
  }
  
  .admin-product-image {
    width: 100px;
    height: 100px;
  }
  
  .admin-product-details-container, .admin-product-details {
    flex: 1;
  }
  
  .filter-and-search {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  #filtering, #search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #search {
    flex-grow: 1;
  }

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 30px;
  font-weight: 800;
  color: #3083ff;
  margin-left: 30%;
}

.closing-button {
  background: none;
  border: none;
  color: gray;
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
}

.closing-button:hover{
  background-color: white;
}

.edit-product-container {
  display: flex;
  gap: 20px; 
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.admin-save-button {
  margin-top: 20px;
}

.edit-product-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.update-image-button {
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #3083ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.edit-product-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-product-details {
  width: 100%;
}

.non-resizable-textarea {
  resize: none;
}

.edit-product-details input,
.edit-product-details select,
.edit-product-details textarea {
  width: 180%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.admin-save-button {
  background-color: #3083ff;
  color: #fff;
  border: none;
  padding: 10px;
  margin-left: 50%;
  cursor: pointer;
}
  
.custom-select-container {
  position: relative;
}

.custom-select {
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-color: white; 
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px; 
  border-radius: 4px; 
  width: 100%; 
  box-sizing: border-box;
  cursor: pointer; 
}


  
@media (max-width: 1200px) {
    #admin-sidebar {
      width: 150px;
    }
    
    .admin-product-card {
      flex-direction: column;
      align-items: center;
    }
    
    .admin-product-image {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 768px) {
    #admin-main-container {
      flex-direction: column;
    }
    
    #admin-sidebar {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
    
    #admin-content {
      padding: 10px;
    }

    .dashboard-overview {
        flex-direction: column;
      }
      
      .dashboard-card {
        margin-bottom: 20px;
      }
      
      .active-projects table, .active-projects th, .active-projects td {
        font-size: 14px;
      }
  }
